<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.meyok.user.mapper.UserDao">

    <!-- user_privacy相关 -->
    <!-- insert -->
    <sql id="insertUserPrivacyFields">
        snowflake_id, email, username, pwd, salt, gmt_create, gmt_modified
    </sql>
    <insert id="saveUserPrivacy" parameterType="userPrivacyDO"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_privacy (<include refid="insertUserPrivacyFields"/>)
        VALUES(#{snowflakeId}, #{email}, #{username}, #{pwd}, #{salt}, UTC_TIMESTAMP(), UTC_TIMESTAMP())
    </insert>
    <!-- select -->
    <sql id="selectUserPrivacyFields">
        id, snowflake_id, email, username, pwd, salt, gmt_create, gmt_modified
    </sql>
    <resultMap id="UserPrivacyMap" type="userPrivacyDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="snowflake_id" jdbcType="BIGINT" property="snowflakeId"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="pwd" jdbcType="CHAR" property="pwd"/>
        <result column="salt" jdbcType="CHAR" property="salt"/>
        <result column="gmt_create" jdbcType="DATE" property="gmtCreate" />
        <result column="gmt_modified" jdbcType="DATE" property="gmtModified" />
    </resultMap>
    <select id="getUserPrivacyByEmail" parameterType="String" resultMap="UserPrivacyMap">
        SELECT <include refid="selectUserPrivacyFields"/>
        FROM user_privacy
        WHERE email = #{email}
    </select>

    <!-- user_privacy相关 -->
    <!-- insert -->
    <sql id="insertUserCertifyFields">
        snowflake_id, check_code, gmt_create, gmt_modified
    </sql>
    <insert id="saveUserCertify" parameterType="userCertifyDO"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_certify (<include refid="insertUserCertifyFields"/>)
        VALUES(#{snowflakeId}, #{checkCode}, UTC_TIMESTAMP(), UTC_TIMESTAMP())
    </insert>
    <!-- select -->
    <resultMap id="UserCertifyMap" type="userCertifyDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="snowflake_id" jdbcType="BIGINT" property="snowflakeId"/>
        <result column="is_certified" jdbcType="TINYINT" property="certified"/>
        <result column="check_code" jdbcType="CHAR" property="checkCode"/>
        <result column="gmt_create" jdbcType="DATE" property="gmtCreate" />
        <result column="gmt_modified" jdbcType="DATE" property="gmtModified" />
    </resultMap>
    <select id="getUserCertifyByEmail" parameterType="String" resultMap="UserCertifyMap">
        SELECT
            uc.id, uc.snowflake_id, uc.is_certified, uc.check_code, uc.gmt_create, uc.gmt_modified
        FROM user_certify uc, user_privacy pi
        WHERE uc.snowflake_id = pi.snowflake_id
            AND pi.email = #{email}
    </select>
    <!-- update -->
    <update id="updateCertifiedIsTrueAtUserCertify" parameterType="String">
        UPDATE user_certify AS uc, user_privacy AS up
        SET is_certified = 1
        WHERE uc.snowflake_id = up.snowflake_id
            AND up.email = #{email};
    </update>

</mapper>